@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

*{
	padding: 0px;
	margin: 0px;
	border: none;
}

h1, h4{
	font-family: 'Montserrat', sans-serif;
}

a{
	color: white;
}

body{
	background-color: black;
	height: 2000px;
}

.aloha_font{
	font-family: 'Fredoka One', cursive;
	font-size: 5em;
	color: white	;
}

h3.aloha_font{
	font-family: 'Fredoka One', cursive;
	font-size: 2em;
	color: white	;
}

#main_top_logo{
	position: fixed;
	z-index: 5;
	margin: 10px 20px 20px 60px;
}


.container{
	width: 1500px;
	position: relative; /** this makes the image an anchor for parallax*/
	height: 600px;
	/*background-image: url('images/bg_image.jpg');*/
	background-color: black;
	background-size: auto 900px;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed; /*this makes the background stay put*/
	overflow: hidden; /*need this to make sure the foreground image stays a layer underneath*/
}

.selfLogo{
	display: inline-block;
	margin-top: 300px;
	margin-left: 50px;
}

.is-fixed{
	position: fixed;
	z-index: 2;
}


.logo{
	height: 120px;
	width: 100%;
	background: url('images/logo.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

#intro_video{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15%;
}

.foreground{
	width: 200px;
	height: 300px;
	background: url('images/foreground_image.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 90%;
	margin-left: -480px;
	top: 350px;
}



    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #ff3b3f;
      background: rgba(0, 0, 0, 0.8);
      height: 90px;
    }
    nav ul{
    	display: inline-block;
    }
    ul#contact_links{
    	margin-left: 10%;
    	margin-right: 20px;
    }
    nav li, nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center
    }
    nav li, nav a {
      display: inline-block;
      margin-top: 10px;
    }
    nav a {
      padding: 20px;
      color: white;
      font-size: 1.3em;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
    }
    a:hover {
      /*background: #ff3b3f;*/
      color: #ff3b3f;
      text-decoration: none;
    }




.container2{
	height: 1700px;
	background-color: #ff3b3f;
}
	.about_me{
		width: 400px;
		padding: 80px;
		margin: 0 auto;
/*		display: inline-block;*/
		vertical-align: middle;
		border-bottom: 1px solid white;
	}
	.white_line{
		width: 400px;
		padding: 40px 0px;
		margin: 0 auto;
		border-bottom: 1px solid white;
	}

	#language_container{
		width: 1000px;
		margin: 0 auto;
		/*border: 1px solid green;*/
	}
	.languages_text{
		display:inline-block;
		width: 450px;
		margin: 0 auto;
		vertical-align: middle;
		/*border: 1px solid white;*/
	}

	.languages{
		width: 450px;
		padding-top: 80px;
		display:inline-block;
		vertical-align: middle;
		/*border: 1px solid white;*/
		margin-left: 94px;
	}

	.languages img{
/*		position: relative;*/
		margin-bottom: 20px;
		opacity: 0;
		transform: translateX(20px); /*this makes icon slide in from right*/
		transition: all 0.3s ease-in-out;
	}

	img.is-showing{
		opacity: 1;
		transform: translateX(0px);
	}






	#skill_container{
		width: 1000px;
		margin: 0 auto;
		/*border: 1px solid green;*/
	}

	.skill_text{
		display:inline-block;
		width: 450px;
		margin: 0 auto;
		vertical-align: middle;
		/*border: 1px solid white;*/
	}

	.skill{
		width: 450px;
		padding-top: 100px;
		display:inline-block;
		vertical-align: middle;
		/*border: 1px solid white;*/
		margin-left: 94px;
	}

	.skill img{
/*		position: relative;*/
		margin-bottom: 20px;
		margin-left: 30px;
		opacity: 0;
		transform: translateX(20px); /*this makes icon slide in from right*/
		transition: all 0.3s ease-in-out;
	}

	img.is-showing2{
		opacity: 1;
		transform: translateX(0px);
	}











.container3 h1{
	opacity: 0; /*start h1 off 'hidden' at beginning*/
}

.container3{
	height: 2000px;
	background-color: white;
	margin-top: -20px;
}

#tv_container{
	background: url('images/monitor.png') no-repeat;
	width: 600px;
	height: 500px;
	position: relative;
}

#tv_container video{
	position:absolute;
	top: -4px;
	left: 29px;
}































