*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: white;
	height: 2000px;
}

#overall_container{
	width: 2000px;
	background-color: white;
}

.container{
	width: 1500px;
	position: relative; /** this makes the image an anchor for parallax*/
	height: 600px;
	background: url('images/bg_image.jpg');
	background-size: auto 600px;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed; /*this makes the background stay put*/
}

.logo{
	height: 100px;
	width: 100px;
	background: url('images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 400px;
}

.container2{
	height: 500px;
	background-color: purple;
}

.container3{
	height: 2000px;
	background-color: green;
}

.test_container{
	width: 1500px;
	position: relative; /** this makes the image an anchor for parallax*/
	height: 600px;
	background: url('images/bg_image.jpg');
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: center right;
	background-attachment: fixed; /*this makes the background stay put*/
}